@model Models.Maintenance.Solution.DetailViewModel
<p>
    @if (Model.Permission == Utility.Define.EnumOrganizationPermission.Editable)
    {
        if (ViewBag.CanEdit)
        {
            <button class="btn btn-app btn-primary btn-xs" onclick="Edit('@Model.SolutionId');" type="button">
                <i class="ace-icon fa fa-pencil bigger-160"></i>
                @Resources.Resource.Edit
            </button>
        }

        if (ViewBag.CanDelete)
        {
            <button class="btn btn-app btn-danger btn-xs" onclick="Delete('@Model.SolutionId');" type="button">
                <i class="ace-icon fa fa-trash-o bigger-160"></i>
                @Resources.Resource.Delete
            </button>
        }
    }

    <button class="btn btn-app btn-success btn-xs" onclick="Query();" type="button">
        <i class="ace-icon fa fa-ban bigger-160"></i>
        @Resources.Resource.Back
    </button>
</p>
<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">@Resources.Resource.Solution</h5>
    </div>
    <div class="widget-body">
        <div class="widget-main no-padding">
            <table class="table table-bordered table-input">
                <tr>
                    <th>@Html.LabelFor(x => x.ParentOrganizationFullName)</th>
                    <td colspan="3">@Html.DisplayFor(x => x.ParentOrganizationFullName)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.SolutionType)</th>
                    <td colspan="3">@Html.DisplayFor(x => x.SolutionType)</td>
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.SId)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.SId)</td>
                    <th class="col-sm-1">@Html.LabelFor(x => x.Name)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.Name)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

