@model  Models.Authentication.PasswordFormModel
@{
    ViewBag.Title = "ChangePassword";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript">
        function Save() {
            var form = $('#PasswordForm');

            if (form.valid())
            {
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: '@Url.Action("ChangePassword")',
                    data: form.serialize(),
                    dataType: "json",
                    beforeSend: function () {
                        $.Overlay('show');
                    },
                    success: function (data) {
                        $.Overlay('hide');
                        if (data.IsSuccess) {
                            $.SuccessDialog(data.Message);
                        }
                        else {
                            $.ErrorDialog(data.Message);
                        }
                    },
                    error: function (x, h, r) {
                        $.Overlay('hide');
                        $.ErrorDialog(x.responseText);
                    }
                });
            }
        }
    </script>
}

<div id="change-password-box" class="col-sm-5 widget-box no-border">
    <div class="widget-header">
        <h4 class="widget-title">
            Change Password
        </h4>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { ID = "PasswordForm" }))
            {
                <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                        @Html.PasswordFor(x => x.OriginalPassword, new { @placeholder = "OriginalPassword", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.OriginalPassword)
                        <i class="ace-icon fa fa-lock"></i>
                    </span>
                </label>
                
                <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                        @Html.PasswordFor(x => x.NewPassword, new { @placeholder = "NewPassword", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.NewPassword)
                        <i class="ace-icon fa fa-lock"></i>
                    </span>
                </label>
                
                <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                        @Html.PasswordFor(x => x.RepeatPassword, new { @placeholder = "RepeatPassword", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.RepeatPassword)
                        <i class="ace-icon fa fa-retweet"></i>
                    </span>
                </label>                               

                <div class="space-24"></div>

                <div class="clearfix">
                    <button type="reset" class="width-30 pull-left btn btn-sm">
                        <i class="ace-icon fa fa-refresh"></i>
                        <span class="bigger-110">Reset</span>
                    </button>

                    <button type="button" class="width-65 pull-right btn btn-sm btn-success" onclick="Save();">
                        <span class="bigger-110">Register</span>
                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                    </button>
                </div>
            }
        </div>
    </div>
</div>