@model Models.Maintenance.Equipment.DetailViewModel
<script type="text/javascript">$(document).ready(function () {
        $('#divTab li a:first').tab('show');

        $('#tabDiv').css('min-height', $('#TabControl').height() + 30);
    });</script>
<p>
    @if (Model.Permission == Utility.Define.EnumOrganizationPermission.Editable)
    {
        if (ViewBag.CanEdit)
        {
            <button class="btn btn-app btn-primary btn-xs" onclick="Edit('@Model.EquipmentId');" type="button">
                <i class="ace-icon fa fa-pencil bigger-160"></i>
                @Resources.Resource.Edit
            </button>
        }

        if (ViewBag.CanDelete)
        {
            <button class="btn btn-app btn-danger btn-xs" onclick="Delete('@Model.EquipmentId');" type="button">
                <i class="ace-icon fa fa-trash-o bigger-160"></i>
                @Resources.Resource.Delete
            </button>
        }

        if (ViewBag.CanCreate)
        {
            <button class="btn btn-app btn-primary btn-xs" onclick="Copy('@Model.EquipmentId');" type="button">
                <i class="ace-icon fa fa-copy bigger-160"></i>
                @Resources.Resource.Copy
            </button>
        }
    }

    <button class="btn btn-app btn-success btn-xs" onclick="Query();" type="button">
        <i class="ace-icon fa fa-ban bigger-160"></i>
        @Resources.Resource.Back
    </button>
</p>
<div class="widget-box widget-color-dark">
    <div class="widget-header">
        <h5 class="widget-title">@Resources.Resource.Equipment</h5>
        <div class="widget-toolbar">
            <div class="widget-menu">
                <a href="#" data-toggle="dropdown">
                    <i class="ace-icon fa fa-cloud-download white"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-caret dropdown-closer dropdown-warning">
                    <li>
                        <a href="@Url.Action("Export", new { ExcelVersion = Utility.Define.EnumExcelVersion._2003, equipmentId = ViewBag.EquipmentId })">Excel 2003</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Export", new { ExcelVersion = Utility.Define.EnumExcelVersion._2007, equipmentId = ViewBag.EquipmentId })">Excel 2007</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="widget-body">
        <div class="widget-main no-padding">
            <table class="table table-bordered table-input">
                <tr>
                    <th>@Html.LabelFor(x => x.ParentOrganizationFullName)</th>
                    <td colspan="3">@Html.DisplayFor(x => x.ParentOrganizationFullName)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(x => x.MaintenanceOrganizationFullName)</th>
                    <td colspan="3">@Html.DisplayFor(x => x.MaintenanceOrganizationFullName)</td>
                </tr>
                <tr>
                    <th class="col-sm-1">@Html.LabelFor(x => x.EId)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.EId)</td>
                    <th class="col-sm-1">@Html.LabelFor(x => x.Name)</th>
                    <td class="col-sm-5">@Html.DisplayFor(x => x.Name)</td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.Photo))
                {
                    <tr>
                        <td colspan="4">
                            <span class="profile-picture">
                                <img class="img-responsive" style="max-height:200px;" alt="" src="@Url.Content(string.Format("~/EquipmentPatrolPhoto/{0}?t={1}", Model.Photo, Guid.NewGuid().ToString()))" />
                            </span>
                        </td>
                    </tr>

                }

            </table>
        </div>
    </div>
</div>
@if (Model.ESpecificationModels.Count > 0)
{
    <div class="space"></div>

    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title"> @Resources.Resource.EquipmentSpecification</h5>
        </div>
        <div class="widget-body">
            <div class="widget-main no-padding">
                <table class="table table-bordered table-input">
                    @{
                        var rowCount = 0;

                        if (Model.ESpecificationModels.Count % 2 == 0)
                        {
                            rowCount = Model.ESpecificationModels.Count / 2;
                        }
                        else
                        {
                            rowCount = Model.ESpecificationModels.Count / 2 + 1;
                        }
                    }
                    @for (int rowIndex = 0; rowIndex < rowCount; rowIndex++)
                    {
                        if (rowIndex * 2 + 1 > Model.ESpecificationModels.Count - 1)
                        {
                            var item = Model.ESpecificationModels[rowIndex * 2];

                            <tr>
                                <th class="col-sm-1"><label>@item.Name</label></th>
                                @if (item.ESOptionModels.Count > 0)
                                {
                                    <td class="col-sm-11" colspan="3">@item.ESOptionValue</td>
                                }
                                else
                                {
                                    <td class="col-sm-11" colspan="3">@item.Value</td>
                                }
                            </tr>
                        }
                        else
                        {
                            var item1 = Model.ESpecificationModels[rowIndex * 2];
                            var item2 = Model.ESpecificationModels[rowIndex * 2 + 1];

                            <tr>
                                <th class="col-sm-1"><label>@item1.Name</label></th>
                                @if (item1.ESOptionModels.Count > 0)
                                {
                                    <td class="col-sm-5">@item1.ESOptionValue</td>
                                }
                                else
                                {
                                    <td class="col-sm-5">@item1.Value</td>
                                }
                                <th class="col-sm-1"><label>@item2.Name</label></th>
                                @if (item2.ESOptionModels.Count > 0)
                                {
                                    <td class="col-sm-5">@item2.ESOptionValue</td>
                                }
                                else
                                {
                                    <td class="col-sm-5">@item2.Value</td>
                                }
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
}
@if (Model.MaterialModels.Count > 0)
{
    <div class="space"></div>

    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title"> @Resources.Resource.Equipment @Resources.Resource.Material</h5>
        </div>
        <div class="widget-body">
            <div class="widget-main no-padding">
                <table class="table table-striped table-bordered table-hover nowrap">
                    <thead class="thin-border-bottom">
                        <tr>
                            <th class="col-sm-4">@Resources.Resource.MId</th>
                            <th class="col-sm-6">@Resources.Resource.MaterialName</th>
                            <th class="col-sm-2">@Resources.Resource.Quantity</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.MaterialModels)
                    {
                        <tr>
                            <td>@item.MId</td>
                            <td>@item.Name</td>
                            <td>@item.Quantity</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}
@if (Model.EPartModels.Count > 0)
{
    <div class="space"></div>

    <div class="widget-box widget-color-dark">
        <div class="widget-header">
            <h5 class="widget-title">@Resources.Resource.EquipmentPart @Resources.Resource.And @Resources.Resource.Material</h5>
        </div>
        <div class="widget-body">
            <div class="widget-main" id="tabDiv">
                <div id="divTab" class="tabbable tabs-left">
                    <ul class="nav nav-tabs" id="TabControl">
                        @foreach (var part in Model.EPartModels)
                        {
                            <li>
                                <a data-toggle="tab" href="@(string.Format("{0}{1}", "#", part.EPartId))">
                                    @part.Name
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="tab-content">
                        @foreach (var part in Model.EPartModels)
                        {
                            <div id="@part.EPartId" class="tab-pane">
                                <table class="table table-striped table-bordered table-hover nowrap">
                                    <thead class="thin-border-bottom">
                                        <tr>
                                            <th class="col-sm-4">@Resources.Resource.MId</th>
                                            <th class="col-sm-6">@Resources.Resource.Name</th>
                                            <th class="col-sm-2">@Resources.Resource.Quantity</th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in part.MaterialModels)
                                    {
                                        <tr>
                                            <td>@item.MId</td>
                                            <td>@item.Name</td>
                                            <td>@item.Quantity</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

